/* components/Navbar.module.css */
.navbar {
  background-color: #121212;
  padding: 0.75rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}

.navbarTitle {
  color: #D5AD2A;
  font-size: clamp(1.7rem, 2.2vw, 2.2rem);
  font-weight: 700;
  margin: 0;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbarContent {
    padding: 0 0.5rem;
  }
}